<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png"
        class="food-munch-logo"
      />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" id="navItem1" href="#wcuSection">
          Why Choose Us?
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" href="#exploreMenuSection" id="navItem2">Explore Menu</a>
        <a class="nav-link" href="#deliveryPaymentSection" id="navItem3">Delivery & Payment</a>
        <a class="nav-link" href="#followUsSection" id="navItem4">Follow Us</a>
        <a class="nav-link" href="contact" id="navItem5">contact</a>
        <a class="nav-link" href="about" id="navItem6">Aboutus</a>
        <a href="/cart/" class="cart-link">
          <img src="shopping-cart.png" alt="Cart" class="cart-icon">
          <span id="cart-count">0</span>
      </a>
      <a class="nav-link" href="login" id="navItem7">logout</a>
      </div>
    </div>
  </div>  
</nav>
<script>
  function updateCartCount() {
      let cart = localStorage.getItem("cart") ? JSON.parse(localStorage.getItem("cart")) : [];
      let count = cart.reduce((total, item) => total + item.quantity, 0);
      document.getElementById("cart-count").textContent = count;
  }

  document.addEventListener("DOMContentLoaded", updateCartCount);
</script>
